
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
  font-family:'Work Sans', sans-serif; ;
}

/* Nav bar section */

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-sector{
  display: flex;
  margin-left: 260px;
}
.nav-title{
  font-size: 45px;
  font-weight: 700;
  margin-left: 10px;

}
 .extra-task{
  color: #FF42A5;
}
 .nav-ul{
  display: flex;
  margin-right:70px ;
}
.nav-bar li{
  list-style: none;
  text-decoration: none;
  margin: 0px 20px;
  color: #3C354F;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;

}
.follow-us-sector{
  display: flex;
  padding:16px 30px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);   
  margin-top: -16px;
  margin-left: -20px;
}
.yt-img{
  margin-left: 10px;
  width: 33.916px;
  height: 24px;
}
.tiktok-img{
  margin-left: 5px;
  width: 33.916px;
  height: 24px;
}

/* banner section */

.banner-sector{
  display: flex;
  padding-left: 200px;
  height: 650px;
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
}
.banner-content{
 margin-top: 120px;
}
.banner-title{
  color: #0B0223;
text-align: center;
font-size: 3rem;
font-weight: 600;
margin-bottom: 0;
margin-left: -40px;

}
.goat-style{
  text-align: center;
  font-size: 7rem;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.banner-descrip{
  color: #534C64;
 font-size: 20px;
 font-weight: 500;
}
.banner-btn{
  display: flex;
}
.signin-btn{
  border-radius: 48px;
  background-color: #FF42A5;
  padding: 21px 40px;
  border: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
}
.rouge-btn{
  padding: 21px 40px;
  gap: 10px;
  border-radius: 48px;
  background-color: #4EC5F7;
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  margin-left: 30px;
}
.banner-img{
  margin-left: 150px;
  margin-top: -30px;

}

/* online games section */

.online-games-section{
  text-align: center;
  margin-top:100px;
 height: 750px;
  
}
.online-games-title{
  color: #0B0223;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0;

}
.primary-style{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.O-games-descrip{
  color: #534C64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.games-img{
  display: flex;
  padding: 0px 40px 0px 40px;
  justify-content: space-between;
  margin-left: -70px;

}
.images{
  margin: 0px 40px;
  width: 270px;
  height: 300px;
}
.games-img p{
  color: #534C64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.primary-text1{
  margin-left: 10px;
  width: 300px;
}
.primary-text2{
  margin-left: 16px;
  width: 300px;
}
.primary-text3{
  margin-left: 50px;
  width: 230px;
}
.primary-text4{
  margin-left: -5px;
  width: 360px;
}

/* play instantly Section */

.play-instant{
  margin-bottom: 100px;
}
.play-instantly-container{
  display: flex;
}
.playins-content {
  margin-top:100px ;
  margin-left: 150px;
}
.playins-content h1{
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0;

}
.play-instant-text{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.no-install{
  margin-left: 75px;
}
.playins-descrip{
  color: #534C64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  width: 470px;
}
.play-img-sector img {
  margin-right: 100px;
  margin-left: 220px;
  width: 580px;
  height: 600px;
 
}
.play-img-sector .img2{
  width: 250px;
  height: 280px;
  margin-top: -220px;
  margin-left:  130px;
}

/* games variety section*/

.games-variety{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin-bottom: 100px;
}
.games-name{
  display: flex;
  align-items: center;
  color: #0B0223;
  height: 70px;
  padding-left: 25px;
  padding-top: 25px;
  border: 2px solid white;
  border-radius: 50px;
  margin-left: 30px;
  margin-top: 10px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  width: 250px;
 
}
.games-text{
  margin-top: -8px;
  color: #0B0223;
  font-size: 15px;
  font-weight: 600;
}
.games-name:hover{
  border-radius: 50px;
  text-align: center;
  color: #FF42A5;
  border: 2px solid #FF42A5;
  background: #FFF; 
  font-size: 1rem;  
}

.games-name img{
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 30px;
}

 
/*  footer section */

.footerlogo-section{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}
.footer-title{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #FFF;

}
footer{
  margin-top: 100px;
  background: #0B0223;
  padding-top:100px ;
  height: 400px;

}
.footer-details{
  display: grid;
  grid-template-columns: repeat(6,150px);
  margin-bottom: 40px;
  justify-content: center;
  
}
.footer-details a{
  color: #FFF;
 text-align: center;
 text-decoration: none;
 font-size: 18px;
 font-weight: 600;
}
.social-icon a{
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  margin: 100px 30px;
  text-decoration: none;
  color: #fff;
}
.social-icon{
  text-align: center;

}
.social-icon img{
   width: 40px;
  height: 40px;
}
.footer-descrip{
  display: flex;
  padding-left:  480px;
  margin-left: 30px;
  margin-top: 50px;

}
.footer-descrip{
  margin-left: -40px;
  margin-bottom: -10px;
  margin-top: 20px;
}
.footer-descrip p{
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;

}
.reserved-section-text{
  text-align: center;
  color: rgba(255, 255, 255, 0.60);
  margin-top: 30px;
  margin-bottom: 60px;
}


/* responsive section */